# Urban Environmental Quality

## Introduction
The primary goal of this project is to develop a comprehensive database system that records both indoor and outdoor air quality data, as well as thermal comfort data. This information will empower building occupants to identify the most favorable locations within the premises. Additionally, the system will issue alerts in the event of unfavorable conditions. In future, the accumulated data will help assist in addressing and mitigating environmental quality issues. In future, the data loggers will continuously feed information into this database system. The figure below shows a schematic design of the database system where weather station, indoor sensors and outdoor sensors will feed the Database Management System. Then the user will be able to view the data and alerts using the database management system. It is important to note that this project is only small scale prototype for bigger project.


<img src="Figures/Intro.png" alt="Schematic Figure" width="50%"/>




The database will contain a variety of relational data sets. For instance, weather stations will log external climate information. Outdoor sensors will record temperature, CO2 level and wind speeds. Additionally, data from indoor sensors will be recorded. A significant correlation is expected between indoor and outdoor conditions.

### Platform
Host: CU FreeDB.net is used for hosting my database. FreeDB.net offers a dependable and cost-free solution for data storage. For the design phase. As the project is still in its developmental stage, a more advanced hosting solution doesn't seem necessary at the moment.

Database Design: : SQL Magic using Jupyter Notebook to show results. I will perform multiple joins when I demonstrate the results.

### Connect to the CSPB MySQL Database

In [1]:
# Connect to the CSPB MySQL Database
#
import os
import configparser

mycfg = configparser.ConfigParser()
mycfg.read("../mysql.cfg")
print(f"User    : [{mycfg['mysql']['user']}]")
database = mycfg['mysql']['url'].split('@')[1]  # leave off the password
print(f"Database: [[mysql://{mycfg['mysql']['user']}...@{database}]")

db_url = mycfg['mysql']['url'] 
os.environ['DATABASE_URL'] = db_url

User    : [moal5633]
Database: [[mysql://moal5633...@applied-sql.cs.colorado.edu:3306/moal5633]

In [2]:
# Load the sql magic 
# Get the MySQL version number to verify we are connected
#
%reload_ext sql
print ("get version...")
%sql SELECT version()

get version...
1 rows affected.

[('8.0.33',)]

In [3]:
# Begin Solution

#### Clear all tables
The easiest way I found to delete all tables is to drop the database then create it again.

In [4]:
%%sql
DROP DATABASE if exists moal5633;
CREATE DATABASE moal5633;
USE moal5633;

 * mysql://moal5633:***@applied-sql.cs.colorado.edu:3306/moal5633
7 rows affected.
1 rows affected.
0 rows affected.

[]

Confirm that there are no tables in the database

In [5]:
%sql SHOW TABLES

 * mysql://moal5633:***@applied-sql.cs.colorado.edu:3306/moal5633
0 rows affected.

[]

## Database tables

- IndoorSensor: Contains Indoor Sensor ID and Sensor Location
- IndoorSensorRecording: Timestamp data recording of IndoorSensor
- OutdoorSensor:  Contains Outdoor Sensor ID and Sensor Location
- OutdoorSensorRecording: Timestamp data recording of OutdoorSensor
- WeatherStation: Contains Weather Station Sensor ID and Sensor Location
- WeatherStationRecording: Timestamp data recording of WeatherStation
- Warning: Warning throughout the system, added through triggers

EER Diagram for my tables and relation is below:

![alternative text](Figures/EER_Diagram.png)

### Create SQL Tables

Please see table creation below:

In [6]:
%%sql

-- -----------------------------------------------------
-- Table `IndoorSensor`
-- -----------------------------------------------------

CREATE TABLE IF NOT EXISTS `IndoorSensor` (
  `idIndoorSensor` INT NOT NULL,
  `IndoorSensorLocation` VARCHAR(45) NULL,
  PRIMARY KEY (`idIndoorSensor`));


-- -----------------------------------------------------
-- Table `IndoorSensorRecording`
-- -----------------------------------------------------

CREATE TABLE IF NOT EXISTS `IndoorSensorRecording` (
  `idIndoorSensorRecording` INT NOT NULL AUTO_INCREMENT,
  `IndoorSensor_idIndoorSensor` INT NULL,
  `IndoorSensorRecordingTimeStamp` TIMESTAMP NULL,
  `IndoorSensorRecordingTemperature` FLOAT NULL,
  `IndoorSensorRecordingVOC` FLOAT NULL,
  `IndoorSensorRecordingCO2` FLOAT NULL,
  PRIMARY KEY (`idIndoorSensorRecording`),
  CONSTRAINT `IndoorSensorID`
    FOREIGN KEY (`IndoorSensor_idIndoorSensor`)
    REFERENCES `IndoorSensor` (`idIndoorSensor`)
    ON DELETE CASCADE
    ON UPDATE CASCADE,
    CHECK (IndoorSensorRecordingCO2>0),
    CHECK (IndoorSensorRecordingVOC>0),
    CHECK (IndoorSensorRecordingTemperature>0 AND IndoorSensorRecordingTemperature<120)
);


-- -----------------------------------------------------
-- Table `OutdoorSensor`
-- -----------------------------------------------------

CREATE TABLE IF NOT EXISTS `OutdoorSensor` (
  `idOutdoorSensor` INT NOT NULL,
  `OutdoorSensorLocation` VARCHAR(45) NULL,
  PRIMARY KEY (`idOutdoorSensor`));


-- -----------------------------------------------------
-- Table `OutdoorSensorRecording`
-- -----------------------------------------------------

CREATE TABLE IF NOT EXISTS `OutdoorSensorRecording` (
  `idOutdoorSensorRecording` INT NOT NULL AUTO_INCREMENT,
  `OutdoorSensor_idOutdoorSensor` INT NULL,
  `OutdoorSensorRecordingTimeStamp` TIMESTAMP NULL,
  `OutdoorSensorRecordingTemperature` FLOAT NULL,
  `OutdoorSensorRecordingCO2` FLOAT NULL,
  `OutdoorSensorRecordingWindSpeed` FLOAT NULL,
  PRIMARY KEY (`idOutdoorSensorRecording`),
  UNIQUE INDEX `idIndoorSensorRecording_UNIQUE` (`idOutdoorSensorRecording` ASC) VISIBLE,
  CONSTRAINT `OutdoorSesnorID`
    FOREIGN KEY (`OutdoorSensor_idOutdoorSensor`)
    REFERENCES `OutdoorSensor` (`idOutdoorSensor`)
    ON DELETE CASCADE
    ON UPDATE CASCADE,
    CHECK (OutdoorSensorRecordingCO2>0),
    CHECK (OutdoorSensorRecordingWindSpeed>0) 
);


-- -----------------------------------------------------
-- Table `WeatherStation`
-- -----------------------------------------------------

CREATE TABLE IF NOT EXISTS `WeatherStation` (
  `idWeatherStationSensor` INT NOT NULL,
  `WeatherStationSensorLocation` VARCHAR(45) NULL,
  PRIMARY KEY (`idWeatherStationSensor`));


-- -----------------------------------------------------
-- Table `WeatherStationRecording`
-- -----------------------------------------------------

CREATE TABLE IF NOT EXISTS `WeatherStationRecording` (
  `idWeatherStationRecording` INT NOT NULL AUTO_INCREMENT,
  `WeatherStation_idWeatherStation` INT NULL,
  `WeatherStationRecordingTimeStamp` TIMESTAMP NULL,
  `WeatherStationRecordingTemperature` FLOAT NULL,
  `WeatherStationRecordingWindSpeed` FLOAT NULL,
  `WeatherStationRecordingCO2` FLOAT NULL,
  PRIMARY KEY (`idWeatherStationRecording`),
  CONSTRAINT `IndoorSensorID1`
    FOREIGN KEY (`WeatherStation_idWeatherStation`)
    REFERENCES `WeatherStation` (`idWeatherStationSensor`)
    ON DELETE CASCADE
    ON UPDATE CASCADE,
    CHECK (WeatherStationRecordingWindSpeed>0),
    CHECK (WeatherStationRecordingCO2>0) 
);


-- -----------------------------------------------------
-- Table `Warning`
-- -----------------------------------------------------

CREATE TABLE IF NOT EXISTS `Warning` (
  `idWarning` INT NOT NULL AUTO_INCREMENT,
  `WarningMessage` VARCHAR(45) NULL,
  `RecordingTimeStamp` TIMESTAMP NULL,  
  PRIMARY KEY (`idWarning`));

 * mysql://moal5633:***@applied-sql.cs.colorado.edu:3306/moal5633
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

## Adding and Viewing Data
Below we insert dummy data for each table using SQL statement for queries.

In [7]:
%%sql
INSERT INTO IndoorSensor (idIndoorSensor, IndoorSensorLocation) VALUES 
(1, 'Conference Room'),
(2, 'Lobby');

 * mysql://moal5633:***@applied-sql.cs.colorado.edu:3306/moal5633
2 rows affected.

[]

In [8]:
%%sql
INSERT INTO OutdoorSensor (idOutdoorSensor, OutdoorSensorLocation) VALUES 
(1, 'Main Entrance'),
(2, 'Back Entrance');

 * mysql://moal5633:***@applied-sql.cs.colorado.edu:3306/moal5633
2 rows affected.

[]

In [9]:
%%sql
INSERT INTO WeatherStation (idWeatherStationSensor, WeatherStationSensorLocation) VALUES 
(1, 'DIA');

 * mysql://moal5633:***@applied-sql.cs.colorado.edu:3306/moal5633
1 rows affected.

[]

In [10]:
%%sql
INSERT INTO IndoorSensorRecording (IndoorSensor_idIndoorSensor, IndoorSensorRecordingTimeStamp, IndoorSensorRecordingTemperature, IndoorSensorRecordingVOC, IndoorSensorRecordingCO2)
VALUES
(1, '2023-12-09 21:06:00', 74.0, 100, 400),
(1, '2023-12-09 21:07:00', 91.0, 200, 420),
(2, '2023-12-09 21:06:00', 90.0, 140, 450),
(2, '2023-12-09 21:07:00', 75.5, 160, 500),
(2, '2023-12-09 21:08:00', 70.0, 120, 410);

 * mysql://moal5633:***@applied-sql.cs.colorado.edu:3306/moal5633
5 rows affected.

[]

In [11]:
%%sql
INSERT INTO OutdoorSensorRecording (OutdoorSensor_idOutdoorSensor, OutdoorSensorRecordingTimeStamp, OutdoorSensorRecordingTemperature, OutdoorSensorRecordingCO2, OutdoorSensorRecordingWindSpeed)
VALUES
(1, '2023-12-09 21:06:00', 35.5, 400, 3),
(1, '2023-12-09 21:07:00', 28.2, 420, 4),
(2, '2023-12-09 21:06:00', 30.1, 450, 5),
(2, '2023-12-09 21:07:00', 32.0, 500, 7),
(2, '2023-12-09 21:08:00', 36.7, 410, 4);

 * mysql://moal5633:***@applied-sql.cs.colorado.edu:3306/moal5633
5 rows affected.

[]

In [12]:
%%sql
INSERT INTO WeatherStationRecording (WeatherStation_idWeatherStation, WeatherStationRecordingTimeStamp, WeatherStationRecordingTemperature, WeatherStationRecordingWindSpeed, WeatherStationRecordingCO2)
VALUES
(1, '2023-12-09 21:06:00', 34.5, 3, 400),
(1, '2023-12-09 21:07:00', 38.2, 4, 420),
(1, '2023-12-09 21:08:00', 35.1, 5, 450),
(1, '2023-12-09 21:09:00', 34.0, 7, 500),
(1, '2023-12-09 21:010:00', 32.7, 4, 410);

 * mysql://moal5633:***@applied-sql.cs.colorado.edu:3306/moal5633
5 rows affected.

[]

### Check data in tables:
After inserting all data, we check it here:

In [13]:
%%sql
SELECT *
FROM IndoorSensor;

 * mysql://moal5633:***@applied-sql.cs.colorado.edu:3306/moal5633
2 rows affected.

[(1, 'Conference Room'), (2, 'Lobby')]

In [14]:
%%sql
SELECT *
FROM IndoorSensorRecording;

 * mysql://moal5633:***@applied-sql.cs.colorado.edu:3306/moal5633
5 rows affected.

[(1, 1, datetime.datetime(2023, 12, 9, 21, 6), 74.0, 100.0, 400.0),
 (2, 1, datetime.datetime(2023, 12, 9, 21, 7), 91.0, 200.0, 420.0),
 (3, 2, datetime.datetime(2023, 12, 9, 21, 6), 90.0, 140.0, 450.0),
 (4, 2, datetime.datetime(2023, 12, 9, 21, 7), 75.5, 160.0, 500.0),
 (5, 2, datetime.datetime(2023, 12, 9, 21, 8), 70.0, 120.0, 410.0)]

In [15]:
%%sql
SELECT *
FROM OutdoorSensor;

 * mysql://moal5633:***@applied-sql.cs.colorado.edu:3306/moal5633
2 rows affected.

[(1, 'Main Entrance'), (2, 'Back Entrance')]

In [16]:
%%sql
SELECT *
FROM OutdoorSensorRecording;

 * mysql://moal5633:***@applied-sql.cs.colorado.edu:3306/moal5633
5 rows affected.

[(1, 1, datetime.datetime(2023, 12, 9, 21, 6), 35.5, 400.0, 3.0),
 (2, 1, datetime.datetime(2023, 12, 9, 21, 7), 28.2, 420.0, 4.0),
 (3, 2, datetime.datetime(2023, 12, 9, 21, 6), 30.1, 450.0, 5.0),
 (4, 2, datetime.datetime(2023, 12, 9, 21, 7), 32.0, 500.0, 7.0),
 (5, 2, datetime.datetime(2023, 12, 9, 21, 8), 36.7, 410.0, 4.0)]

In [17]:
%%sql
SELECT *
FROM WeatherStation;

 * mysql://moal5633:***@applied-sql.cs.colorado.edu:3306/moal5633
1 rows affected.

[(1, 'DIA')]

In [18]:
%%sql
SELECT *
FROM WeatherStationRecording;

 * mysql://moal5633:***@applied-sql.cs.colorado.edu:3306/moal5633
5 rows affected.

[(1, 1, datetime.datetime(2023, 12, 9, 21, 6), 34.5, 3.0, 400.0),
 (2, 1, datetime.datetime(2023, 12, 9, 21, 7), 38.2, 4.0, 420.0),
 (3, 1, datetime.datetime(2023, 12, 9, 21, 8), 35.1, 5.0, 450.0),
 (4, 1, datetime.datetime(2023, 12, 9, 21, 9), 34.0, 7.0, 500.0),
 (5, 1, datetime.datetime(2023, 12, 9, 21, 10), 32.7, 4.0, 410.0)]

In [19]:
%%sql
SELECT *
FROM Warning;

 * mysql://moal5633:***@applied-sql.cs.colorado.edu:3306/moal5633
0 rows affected.

[]

## Indexes 

We create inexes below for some tables. The Indexes will be on the id and timestamp because they two attributes will mostly be used for joining and filtering data.

In [20]:
%%sql
CREATE INDEX IndoorSensorRecording_Index
ON IndoorSensorRecording (idIndoorSensorRecording, IndoorSensorRecordingTimeStamp);

 * mysql://moal5633:***@applied-sql.cs.colorado.edu:3306/moal5633
0 rows affected.

[]

In [21]:
%%sql
CREATE INDEX OutdoorSensorRecording_Index
ON OutdoorSensorRecording (idOutdoorSensorRecording, OutdoorSensorRecordingTimeStamp);

 * mysql://moal5633:***@applied-sql.cs.colorado.edu:3306/moal5633
0 rows affected.

[]

In [22]:
%%sql
CREATE INDEX WeatherStationRecording_Index
ON WeatherStationRecording (idWeatherStationRecording, WeatherStationRecordingTimeStamp);

 * mysql://moal5633:***@applied-sql.cs.colorado.edu:3306/moal5633
0 rows affected.

[]

## Triggers

We create two trigger below one gives warning when indoor temperature exceed 86 F while the other gives warning when outdoor sesnor wind speed exceed 6 m/s.

Both inserts a warning message to the Warnign table.

In reality this can be screen showing warning messages.

First we check the Warning Table is empty then create the two triggers.

In [23]:
%%sql
SELECT *
FROM Warning;

 * mysql://moal5633:***@applied-sql.cs.colorado.edu:3306/moal5633
0 rows affected.

[]

In [24]:
%%sql

CREATE TRIGGER `temperature_above_86`
AFTER INSERT ON `IndoorSensorRecording`
FOR EACH ROW
BEGIN
    IF NEW.IndoorSensorRecordingTemperature > 86 THEN
        INSERT INTO Warning (WarningMessage,RecordingTimeStamp) 
        VALUES (CONCAT('Indoor Temperature exceed 86 F at sensor ID ', NEW.IndoorSensor_idIndoorSensor),NEW.IndoorSensorRecordingTimeStamp);
    END IF;
END ;

 * mysql://moal5633:***@applied-sql.cs.colorado.edu:3306/moal5633
0 rows affected.

[]

In [25]:
%%sql

CREATE TRIGGER `wind_above_6`
AFTER INSERT ON `OutdoorSensorRecording`
FOR EACH ROW
BEGIN
    IF NEW.OutdoorSensorRecordingWindSpeed > 6 THEN
        INSERT INTO Warning (WarningMessage,RecordingTimeStamp) 
        VALUES (CONCAT('Outdoor WS exceed 6 m/s at sensor ID ', NEW.OutdoorSensor_idOutdoorSensor),NEW.OutdoorSensorRecordingTimeStamp);
    END IF;
END ;

 * mysql://moal5633:***@applied-sql.cs.colorado.edu:3306/moal5633
0 rows affected.

[]

Below we insert data that will cause trigger.

In [26]:
%%sql
INSERT INTO IndoorSensorRecording (IndoorSensor_idIndoorSensor, IndoorSensorRecordingTimeStamp, IndoorSensorRecordingTemperature, IndoorSensorRecordingVOC, IndoorSensorRecordingCO2)
VALUES
(1, '2023-12-09 22:06:00', 99.0, 100, 400);

 * mysql://moal5633:***@applied-sql.cs.colorado.edu:3306/moal5633
1 rows affected.

[]

In [27]:
%%sql
INSERT INTO OutdoorSensorRecording (OutdoorSensor_idOutdoorSensor, OutdoorSensorRecordingTimeStamp, OutdoorSensorRecordingTemperature, OutdoorSensorRecordingCO2, OutdoorSensorRecordingWindSpeed)
VALUES
(1, '2023-12-09 22:06:00', 35.5, 400, 9);

 * mysql://moal5633:***@applied-sql.cs.colorado.edu:3306/moal5633
1 rows affected.

[]

He we check the Warning Table after inserting the triggers, we messages displayed.

In [28]:
%%sql
SELECT *
FROM Warning;

 * mysql://moal5633:***@applied-sql.cs.colorado.edu:3306/moal5633
2 rows affected.

[(1, 'Indoor Temperature exceed 86 F at sensor ID 1', datetime.datetime(2023, 12, 9, 22, 6)),
 (2, 'Outdoor WS exceed 6 m/s at sensor ID 1', datetime.datetime(2023, 12, 9, 22, 6))]

## Data Query

Below we perform 4 Joins:\
(1) JoinIndoorSensor with IndoorSensorRecording on sensor ID to see the location of each indoor recording location \
(2) Join WeatherStation with WeatherStationRecording on sensor ID to get the location of each recording \
(3) IndoorSensorRecording and WeatherStationRecording on recording timestamp to find outdoor temperature coincident with each indoor recording.

In [29]:
%%sql
WITH OutdoorWeather_CTE (TimeStamp, Temp, Loc) AS (
    SELECT 
        WeatherStationRecording.WeatherStationRecordingTimeStamp, 
        WeatherStationRecording.WeatherStationRecordingTemperature, 
        WeatherStation.WeatherStationSensorLocation
    FROM WeatherStationRecording
    INNER JOIN WeatherStation 
        ON WeatherStation.idWeatherStationSensor = WeatherStationRecording.WeatherStation_idWeatherStation
)

SELECT 
    IndoorSensorRecording.IndoorSensorRecordingTimeStamp AS "Time Stamp", 
    IndoorSensor.IndoorSensorLocation AS "Location", 
    IndoorSensorRecording.IndoorSensorRecordingTemperature AS "Temperature [Deg F]", 
    IndoorSensorRecording.IndoorSensorRecordingVOC AS "VOC [ppm]", 
    IndoorSensorRecording.IndoorSensorRecordingCO2 AS "CO2 [ppm]",
    OutdoorWeather_CTE.Temp as "Weather Station Temp [Deg F]",
    OutdoorWeather_CTE.Loc as "Weather Station Location" 
FROM IndoorSensorRecording
INNER JOIN IndoorSensor 
    ON IndoorSensor.idIndoorSensor = IndoorSensorRecording.IndoorSensor_idIndoorSensor
INNER JOIN OutdoorWeather_CTE 
    ON OutdoorWeather_CTE.TimeStamp = IndoorSensorRecording.IndoorSensorRecordingTimeStamp;

 * mysql://moal5633:***@applied-sql.cs.colorado.edu:3306/moal5633
5 rows affected.

[(datetime.datetime(2023, 12, 9, 21, 6), 'Lobby', 90.0, 140.0, 450.0, 34.5, 'DIA'),
 (datetime.datetime(2023, 12, 9, 21, 6), 'Conference Room', 74.0, 100.0, 400.0, 34.5, 'DIA'),
 (datetime.datetime(2023, 12, 9, 21, 7), 'Lobby', 75.5, 160.0, 500.0, 38.2, 'DIA'),
 (datetime.datetime(2023, 12, 9, 21, 7), 'Conference Room', 91.0, 200.0, 420.0, 38.2, 'DIA'),
 (datetime.datetime(2023, 12, 9, 21, 8), 'Lobby', 70.0, 120.0, 410.0, 35.1, 'DIA')]

In [30]:
%%sql

WITH OutdoorWeather_CTE (TimeStamp, Temp, Loc) AS (
    SELECT 
        WeatherStationRecording.WeatherStationRecordingTimeStamp, 
        WeatherStationRecording.WeatherStationRecordingTemperature, 
        WeatherStation.WeatherStationSensorLocation
    FROM WeatherStationRecording
    INNER JOIN WeatherStation 
        ON WeatherStation.idWeatherStationSensor = WeatherStationRecording.WeatherStation_idWeatherStation
)

SELECT 
    IndoorSensor.IndoorSensorLocation AS "Location", 
    AVG(IndoorSensorRecording.IndoorSensorRecordingTemperature) AS "Average Temperature [Deg F]"
FROM IndoorSensorRecording
INNER JOIN IndoorSensor 
    ON IndoorSensor.idIndoorSensor = IndoorSensorRecording.IndoorSensor_idIndoorSensor
GROUP BY IndoorSensor.IndoorSensorLocation;

 * mysql://moal5633:***@applied-sql.cs.colorado.edu:3306/moal5633
2 rows affected.

[('Conference Room', 88.0), ('Lobby', 78.5)]